### Import Libraries

In [28]:
import pandas as pd

### Load the csv files

In [29]:
train = pd.read_csv("csv files/front_filled_data.csv")
train

,ID,Policy_Start_Date,Policy_End_Date,Gender,Age,First_Transaction_Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,ID_O51ZQ1B,2001-12-11,2011-12-10,Female,37.0,2001-12-11,1,Saloon,Black,Honda,NaN,NaN,Car Vintage,0
1,ID_VJ1FAVO,2002-03-25,2011-03-24,Male,37.0,2002-03-25,1,Saloon,Black,TOYOTA,Ekiti,Benue,Car Classic,0
2,ID_ULWS8VL,2003-04-13,2011-04-12,Male,41.0,2003-04-13,2,Saloon,Black,TOYOTA,Ikeja,Lagos,Car Vintage,0
3,ID_ZYKGSP7,2003-12-21,2034-05-20,Male,48.0,2003-12-21,2,Saloon,Black,BMW,Ikeja,Lagos,Car Vintage,0
4,ID_OEWBKGF,2005-08-05,2011-09-29,Female,44.0,2005-08-05,1,Saloon,Black,Tata,Ajah,Lagos,CVTP,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12074,ID_MLGO8DZ,2010-12-31,2011-06-30,Male,51.0,2010-12-31,4,Saloon,Black,Honda,Victoria Island,Lagos,Car Classic,0
12075,ID_62LBOWI,2010-12-31,2011-12-30,Male,44.0,2010-12-31,1,Saloon,Black,Honda,Victoria Island,Lagos,Car Classic,0
12076,ID_XR8F115,2010-12-31,2011-12-30,Male,37.0,2010-12-31,1,JEEP,Black,Hyundai,Victoria Island,Lagos,CarSafe,0
12077,ID_8P2UGYO,2010-12-31,2011-12-30,Male,20.0,2010-12-31,1,JEEP,Black,Hyundai,Victoria Island,Lagos,CarSafe,0
12078,ID_8MNXRC6,2010-12-31,2011-12-16,Male,36.0,2010-12-31,1,Saloon,Silver,Kia,Anthony Village,Lagos,Car Classic,1

## Analytical Questions

### Claim Approval Rate per Product Name

In [31]:
claim_rate = train.groupby("ProductName")["target"].mean().sort_values(ascending=False) * 100
print("Claim Rate per Product Type (%):")
print(claim_rate)

Claim Rate per Product Type (%):
ProductName
Muuve               69.892473
CVTP                25.586354
Car Plus            21.193416
Motor Cycle         17.391304
Car Classic         16.561295
CarFlex             16.477273
Customized Motor     7.706422
CarSafe              0.370959
Car Vintage          0.000000
Name: target, dtype: float64

### Volume of Policies per Product Name

In [33]:
policy_count = train["ProductName"].value_counts()
policy_count

ProductName
Car Classic         6485
CarSafe             3774
Customized Motor     545
Car Plus             486
CVTP                 469
CarFlex              176
Muuve                 93
Motor Cycle           46
Car Vintage            5
Name: count, dtype: int64

### Number of Claims

In [35]:
claims_by_product = train[train["target"] == 1]["ProductName"].value_counts()
print("\nTotal Claims per Product Type:")
print(claims_by_product)

Total Claims per Product Type:
ProductName
Car Classic         1074
CVTP                 120
Car Plus             103
Muuve                 65
Customized Motor      42
CarFlex               29
CarSafe               14
Motor Cycle            8
Name: count, dtype: int64

### No claims

In [ ]:
non_claims_by_product = train[train["target"] == 0]["ProductName"].value_counts()
print("\nTotal Non-Claims per Product Type:")
print(non_claims_by_product)

Total Non-Claims per Product Type:
ProductName
Car Classic         5411
CarSafe             3760
Customized Motor     503
Car Plus             383
CVTP                 349
CarFlex              147
Motor Cycle           38
Muuve                 28
Car Vintage            5
Name: count, dtype: int64

### Summary

In [ ]:
summary = pd.DataFrame({
    "Total Policies": train["ProductName"].value_counts(),
    "Total Claims": train[train["target"] == 1]["ProductName"].value_counts(),
    "No Claims": train[train["target"] == 0]["ProductName"].value_counts(),
    "Claim Rate (%)": train.groupby("ProductName")["target"].mean() * 100
}).sort_values(by="Claim Rate (%)", ascending=False)

print("\nSummary Table per Product Type:")
print(summary)

Summary Table per Product Type:
                  Total Policies  Total Claims  No Claims  Claim Rate (%)
ProductName
Muuve                         93          65.0         28       69.892473
CVTP                         469         120.0        349       25.586354
Car Plus                     486         103.0        383       21.193416
Motor Cycle                   46           8.0         38       17.391304
Car Classic                 6485        1074.0       5411       16.561295
CarFlex                      176          29.0        147       16.477273
Customized Motor             545          42.0        503        7.706422
CarSafe                     3774          14.0       3760        0.370959
Car Vintage                    5           NaN          5        0.000000